@import "tailwindcss";

@theme {
  --font-free: "Bad Script", "serif";
  --font-body: "Noto Sans", "serif";

  --breakpoint-tablet: 600px;
  --breakpoint-laptop: 1025px;
  --breakpoint-desktop: 1300px;

  --color-light: rgb(240,208, 195);
  --color-dark: rgb(160, 25, 25);
  --color-dark-blue: rgb(2, 2, 21);
  --color-warm-white: rgb(253, 251, 250);
  --color-dark-purple: rgb(65, 39, 132);
  --color-red: rgb(190, 39, 39);
  --color-light-purple: rgb(101, 101, 180);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
